<div class="main">
    <div class="content">
        <h2> Test from Voya - To verify RXJS functionlity</h2>
        <button *ngIf="!users" class="display-user-btn" (click)="dialog.showModal()">Display the Users</button>

        <div *ngIf="users">
            <p><strong>All Users</strong> <small> (This list is populated using RXJS subscribe/Observable) </small></p> 
            <table>
              <tr>
                <th></th><th>Name</th><th>Email</th><th>Age</th>
              </tr>
              <tr *ngFor="let user of users,index as i">
                <td>{{i+1}}</td><td>{{user.first_name}} {{user.last_name}}</td><td>{{user.email}} </td><td>{{user.age}} </td>
              </tr>
            </table>
            <br>
            <p><strong>Users having age more than 30</strong> <small> (This list is populated using 'Filter' operator of RXJS) </small></p> 
            <table>
              <tr>
                <th></th><th>Name</th><th>Email</th><th>Age</th>
              </tr>
              <tr *ngFor="let user of usersAgeFiltered,index as i">
                <td>{{i+1}}</td><td>{{user.first_name}} {{user.last_name}}</td><td>{{user.email}} </td><td>{{user.age}} </td>
              </tr>
            </table>
        </div>

    </div>
</div>


<dialog #dialog>
    <div>
      <p>Are you sure you want to display the list of users?
        <br>
        <small>(This modal is centerred vertically and horizontally)</small>
      </p>
    </div>
    <div class="footer">
      <button class="confirm-btn" (click)="dialog.close();confirm();">Confirm</button>
      <button class="cancel-btn" (click)="dialog.close()">Cancel</button>
    </div>
</dialog>
  